<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
    <head>
        <meta charset="UTF-8"/>
        <title>Study Abroad Bristol</title>
        <!-- Bootstrap: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="styles/index.css"/>
    </head>
    <body>
        <!-- Navigation Bar -->
        <%- include('partials/navbar') %>
        
        <!--Main Content-->  
        <main>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="text-center">
                        <span class="close">&times;</span>
                        <h2>Welcome to</h2>
                        <img src="/images/index/test.png" id="modal-img"></img>
                    </div>
                </div>

            </div>

            <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            </script>

            <% if(first_visit){ %>
                <script> modal.style.display = "block"; </script>
            <% } %>


            <% if(error){ %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <!-- 
                Section 1
             -->
            <article id="summary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="images/index/home_image.jpg" class="center">
                            <h2 class="text-center">Welcome to Study Abroad Bristol!</h2>
                            <p>Created for COMS32500 at the University of Bristol, our website's  purpose is to provide guidance and reccomendations for students studying abroad in Bristol. Written by current UoB students and alumni, our articles are written to help answer some of the questions about life in Bristol that may not be covered in the traditional study abroad orientation.</p> 
                        </div>
                    </div>
                </div>
            </article>

            <!-- 
                Section 2
             -->
            <section id="icons" class="container">
                <div class="row">
                    <section class="col-lg-12 text-center">
                        <h2>Check Out Bristol</h2>
                    </section>
                </div>
                <div class="row">
                    <section id="explore" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <img src="images/index/explore_icon.jpg" class="icon_image"/> 
                        <h3 class="text-center">Explore</h3>
                        <p>Join us as we tour Bristol. Explore some of the best places to eat, drink, and play throughout the city.</p>
                        <a href="/resources" class="btn btn-info" role="button">Explore</a>
                    </section>
                    <section id="questions" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <img src="images/index/questions_icon.jpg" class="icon_image"/>
                        <h3 class="text-center">Q&amp;A</h3>
                        <p>Have any questions about studying in Bristol? We may not have all the answers, but we'll definetly try. </p>
                        <a href="/questions" class="btn btn-info" role="button">Ask a Question</a>
                    </section>
                    <section id="market" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                        <img src="images/index/market_icon.jpg" class="icon_image"/>
                        <h3 class="text-center">Marketplace</h3>
                        <p>Don't let that student budget get you down. Join our student marketplace to buy and sell your stuff to other students.</p>
                        <a href="/market" class="btn btn-info" role="button">Shop</a>               
                    </section>
                </div>
            </section>
            
            <!-- 
                Section 3
             -->
            <% if(!user){ %>
            <section id="login_register" class="container">
                <div class="row">
                    <section id="login" class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <h3>Login</h3>
                        <p>Login to gain full access to our marketplace and Q&A message board.</p>
                        <form action="/login_user" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="username" name="username" aria-describedby="emailNameHelp" placeholder="studyabroad@gmail.com" required="required"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="login_password" name="password" placeholder="Password" required="required"/>
                                </div>
                            </div>
                            <div class="form-row text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary col-md-3">Submit</button>
                                </div>
                            </div>
                        </form>

                    </section>
                        
                     <section id="register" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h3>Register</h3>
                        <p>Create an account with us to make the most of your time at Bristol!</p>
                        <form action="/register_user" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="firstNameHelp" placeholder="Robert" required="required"/>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lname" name="lname" aria-describedby="lastNameHelp" placeholder="Smith" required="required"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailNameHelp" placeholder="studyabroad@gmail.com" required="required"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required"/>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="password">Confirm Password</label>
                                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required="required"/>
                                        </div>
                                    </div>
                                    <div class="form-row text-center">
                                        <button type="submit" class="btn btn-primary">Create an Account</button>
                                    </div>
                                </form>
                        
                    </section>
                </div>
            </section>
            <% } %>
            
        </main>
        
        <%- include('partials/footer') %>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>
