<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

</head>
    <body>
        <!--Website Banner-->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Study Abroad Bristol</h1>    
                    </div>
                </div>
            </div>
        </header>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>

        
        <!--Main Content-->  
        <main>
            <section id="login_register">
                <div class="container">
                    <div class="row">
                        <section id="login">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <h3>Login</h3>
                                <form action="/login_user" method="post" onsubmit="return checkForm(this);">
                                    <h4>Email</h4>
                                    <input type="text" id="email" name="email" required="required"/>
                                    <h4>Password</h4>
                                    <input type="password" id="password" name="password" required="required"/>
                                    <ul>
                                        <% if(loginErrors){
                                            for(var i=0; i < loginErrors.length; i++) { %>
                                            <li>
                                                <%= loginErrors[i].msg %>
                                            </li>
                                        <% }}%>
                                    </ul>
                                    <input type="submit"/>
                                </form>
                            </div>
                        </section>
                        <section id="register">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <h3>Register</h3>
                                <p>Create an account with us to make the most of your time at Bristol!</p>
                                <form action="/register_user" method="post">
                                    <h4>First Name</h4>
                                    <input type="text" id="fname" name="fname" required="required"/>
                                    <h4>Last Name</h4>
                                    <input type="text" id="lname" name="lname"/>
                                    <h4>Email</h4>
                                    <p id='emailError'></p>
                                    <input type="text" id="email" name="email" required="required"/>
                                    <h4>Password</h4>
                                    <p id='passwordError'></p>
                                    <input type="password" id="password" name="password" required="required"/>
                                    <h4>Confirm Password</h4>
                                    <p id='confirmPasswordError'></p>
                                    <input type="password" id="confirmPassword" name="confirmPassword" required="required"/>

                                    <ul>
                                        <% if(registerErrors){for(var i=0; i < registerErrors.length; i++) { %>
                                            <li>
                                                <%= registerErrors[i].msg %>
                                            </li>
                                        <% } }%>
                                    </ul>

                                    <input type="submit"/>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            
        </main>
        <footer>
            <p>Jack Allison and Cameron Haseyama</p>
        </footer>
    </body>

    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    
</html>
