<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>Study Abroad Bristol</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/general.css"/>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <!-- Bootstrap: jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer="defer" ></script>
    <!-- Bootstrap: Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" defer="defer"></script> 

</head>
    <body>
        
        <!--Navigation Bar-->  
        <%- include('partials/navbar') %>
        
        <!--Main Content-->  
        <main>
            <div class="container">

                <!-- Use nav-pills, nav-tabs. To center tabs add nav-justified to the class for ul -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#cheapeats">Cheap Eats</a></li>
                    <li><a data-toggle="tab" href="#academics">Academics</a></li>
                    <li><a data-toggle="tab" href="#nightlife">Night Life</a></li>
                    <li><a data-toggle="tab" href="#citysites">City Sites</a></li>

                </ul>
                 
                <div class="tab-content">
                    <div id="cheapeats" class="tab-pane fade in active">
                        <div class="text-center">
                            <h2>Cheap Eats</h2>
                        </div>
                        <!-- well surrounds the text with a rounded border and gray background. The size can be changed with well-sm or well-lg -->
                        <div class="well well-sm">
                            <div class="media">
                            
                                <!-- You can use media-top, media-middle, or media-bottom -->
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image11.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Grocery Store Meal Deals</h4>
                                    <p>Tesco, Sainsbury’s and other grocery stores have a £3 meal deal, one of the cheapest ways to eat. You get to choose 1 Sandwich, Sub, Pasty or Salad, 1 Snack and 1 Drink for all for £3. This is a great way to grab a quick lunch, especially if you’re on the go.</p>
                                </div>
                            </div>
                        </div>
                             
                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image6.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">The Bristol International Student Centre</h4>
                                    <p>By far the cheapest way to eat lunch is by going to BISC. The Bristol International Student Centre has an unlimited soup lunch every Wednesday during term time. This includes 5 different freshly cooked soups, bread, drinks, fruit and desserts all for only £2. BISC also has a Friday lunch that rotates between pizza &amp; pasta, fajitas, baked potatoes and others. This also includes salad, drinks, fruit and desserts all for only £2. They’re only open from 12-2pm, but you can come back for seconds, thirds, or as much as you can eat! (Note: cash only)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image1.jpg" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Boulangerie</h4>
                                    <p>Located across the street from Wills Memorial Building, Boulangerie is a local bakery where you can get fresh breakfast and lunch sandwiches for less than £3. The line is usually long, but don’t worry because it moves very fast. Just make sure you know your order before you get to the front!</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image13.jpg" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Eat a Pitta</h4>
                                    <p>If you’re really hungry and willing to pay just a bit more, Eat a Pitta has a classic hummus bowl for £4.50 that is sure to leave you full. It includes freshly made hummus, 3 pieces of falafel, Moroccan spiced chickpeas, tabbouleh, and a pitta on the side. The line is usually quite long, but it generally moves fairly quickly. The high quality and quantity of food they provide is well worth the wait.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="academics" class="tab-pane fade">
                        <div class="text-center">
                            <h2>Academics</h2>
                        </div>
                        <div class="well well-sm">

                            <div class="text-center">
                                <img src="/images/gen_resources/image17.jpg" alt="..." width="500"></img>
                                <p>(Source: https://epigram.org.uk/2018/11/25/best-alternative-study-spaces-in-bristol/)</p>
                            </div>

                            <h3><u><strong>Study Spots</strong></u></h3>

                            <br></br>

                            <h4>Bristol Central Library</h4>
                            <p>This pretty public library is situated on College Green at the bottom of Park Street. You’ve probably seen it before – it’s the beautiful rectangular building near the fountains and the Cathedral gate! Once you get inside, you’ll find yourself in a huge, Instagram-worthy quiet study room, which is always super empty since it is not often frequented by students.</p>
                            <p>Bristol Central Library, College Green, Bristol BS1 5TL</p>

                            <br></br>

                            <h4>Café Kino</h4>
                            <p>Café Kino in Stokes Croft has now gone completely vegan (they stocked regular milks until recently), so you can have a clear ethical conscience whilst you study. The big windows, friendly staff and comfy (ish) wooden tables make for a lovely calming atmosphere.</p>
                            <p>Café Kino, 108 Stokes Croft, Bristol BS1 3RU</p>

                            <br></br>

                            <h4>Bristol Museum &amp; Art Gallery</h4>
                            <p>There is a cluster of tables on the airy ground floor of the Bristol Museum &amp; Art Gallery which serve as a great place to catch up on coursework, whilst simultaneously soaking in some culture.</p>
                            <p>Bristol Museum &amp; Art Gallery, Queens Rd, Bristol BS8 1RL</p>

                            <br></br>

                            <h4>The Front Room @ the Arnolfini</h4>
                            <p>For most students living in rented accommodation, the Arnolfini art gallery might be a bit out of the way, but at least the walk down there (via the Harbourside) is nice and scenic. The high-ceilinged 'Front Room' on the ground floor has recently been refurbished and is open to the public during the day - described on the Arnolfini website as a place to 'talk, eat, meet and read,' this is the perfect option for those who prefer to study in a venue that is less 'studenty.'</p>
                            <p>Arnolfini, 6 Narrow Quay, Bristol BS1 4QA</p>

                            <br></br>

                            <h4>Boston Tea Party Park Street</h4>
                            <p>The West Country chain of Boston Tea Parties are hardly Bristol’s best-kept secret, but the large, bright top floor space and picturesque garden of this particular branch seemed worth a mention. This spot would be ideal for working with friends, as obviously this is not a particularly quiet place to study.</p>
                            <p>Boston Tea Party, 75 Park St, Bristol BS1 5PF</p>
                        </div>

                        <div class="well well-sm">

                            <h3><u><strong>Campus Map</strong></u></h3>
                            <p>Click the map to download the full PDF.</p>

                            <div class="text-center">
                                <a href="http://www.bris.ac.uk/media-library/sites/maps/documents/campus_map-oct_2018.pdf">
                                    <img src="/images/gen_resources/map.png" alt="..." width="500"></img>
                                </a>
                                <p>(Source: http://www.bris.ac.uk/media-library/sites/maps/documents/campus_map-oct_2018.pdf)</p>
                            </div>
                            
                        </div>

                        <div class="well well-sm">

                            <div class="text-center">
                                <img src="/images/gen_resources/image15.png" alt="..." width="500"></img>
                                <p>(Source: http://www.bristol.ac.uk/students/new/)</p>
                            </div>


                            <h3><u><strong>Course Registration</strong></u></h3>

                            <p> Registration at Bristol is quite different than at most universities, particularly US universities. Because students are on a set track in their degree, and they have little choice in what courses they can take, there is no online registration system where you can select what courses you want to register for when registration opens. Also there is no place online that tells you which courses still have open slots. This means you must sign up for courses the old fashioned way. After study abroad orientation, there will be drop-in sessions in every department at the university. If you need to add or drop a course in a certain department, make sure you attend their drop-in session. When you arrive, they will give you a hand-out of the courses that are still available and a add/drop sheet. Once you have determined which courses you would like to add or drop, fill out the sheet and hand it in to the department. At that point it may take up to two days before these changes are reflected online. Once the request has been processed, you can see the course schedule and materials online through MyBristol and Blackboard.</p>

                        </div>

                    </div>

                    <div id="nightlife" class="tab-pane fade">
                        <div class="text-center">
                            <h2>Night Life</h2>
                        </div>

                        <h3><u><strong>Bars and Pubs</strong></u></h3>
                        <!-- well surrounds the text with a rounded border and gray background. The size can be changed with well-sm or well-lg -->
                        <div class="well well-sm">
                            <div class="media">
                            
                                <!-- You can use media-top, media-middle, or media-bottom -->
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image3.png" alt="..." width="300"></img>
                                    </a>
                                    <p>(Source: https://www.jdwetherspoon.com/pubs/all-pubs/england/bristol/the-berkeley-bristol)</p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">The Berkeley Jd Wetherspoon</h4>
                                    <p>The pub is open for breakfast until 12 noon and offers free refills (all day every day) on tea and Lavazza coffee. For lunch and dinner, there are lighter bites, with deli deal options and vegetarian choices, gourmet burgers and freshly made pizzas. Wetherspoon has championed a wide range of drinks, including real ales, craft beers, gins and soft drinks. Table service is available via the Wetherspoon app, using our unlimited free Wi-Fi. This pub has step-free access.</p>
                                    <p>(Source: Google)</p>
                                </div>
                            </div>
                        </div>
                             
                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image19.png" alt="..." width="300"></img>
                                    </a>
                                    <p>(Source: http://applecider.co.uk)</p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">The Apple</h4>
                                    <p>This converted Dutch barge boasts a mighty selection of bottled cider &amp; perry from the West Country &amp; beyond, as well as seven guest brews on tap. Anchored just around the corner from Bristol's Old Vic, the Apple makes an easy-going choice for a pre-theatre drink &amp; nibble. The upper deck looks out onto the houseboats along the floating harbour, while leather sofas &amp; portholes set the scene below decks; if it’s packed, grab a bench outside, by the graffiti of a trippy orchard scene. Ploughman's are available for lunch &amp; in the early evening – say a ‘fatman’s’ of smoked Cheddar &amp; pork pie or a ‘mutineer's’ version with Wiltshire ham, Cornish Yarg &amp; beer mustard. All draught ciders are available to take home in two-pint cartons.</p>
                                    <p>(Source: https://www.squaremeal.co.uk/restaurants/the-apple_3668)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image7.png" alt="..." width="300"></img>
                                    </a>
                                    <p>(Source: http://thebeeremporium.net)</p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Beer Emporium</h4>
                                    <p>The Beer Emporium is an underground Bar/Restaurant/Award Winning Bottle Shop in the heart of Bristol Old Town, the "Beermuda Triangle". Leave your problems outside and unwind for a few hours while savouring some of the finest Beers the world has to offer. At The Beer Emporium you can find 24 Draught Lines (12 Keg + 12 Cask) constantly changing and a wide selection of Bottles.</p>
                                    <p>(Source: https://www.tripadvisor.co.uk/Restaurant_Review-g186220-d4944001-Reviews-The_Beer_Emporium-Bristol_England.html)</p>
                                </div>
                            </div>
                        </div>

                        <h3><u><strong>Clubs</strong></u></h3>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image2.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Lizard Lounge</h4>
                                    <p>Along with Spoons, the library, and Stokes Croft, Lizard Lounge is one spot that students will quickly become familiar with. The nightclub is on Queens Road and is open six nights a week, meaning you can party right up until that 9am lecture.</p>
                                    <p>(Source: https://www.designmynight.com/bristol/clubs/student-clubs-in-bristol)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image14.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Thekla</h4>
                                    <p>Around since the 1980s, this Bristol student club is a party with a difference. Taking place on a converted trawler, the club plays host to some of the best DJs in the South West.</p>
                                    <p>(Source: https://www.designmynight.com/bristol/clubs/student-clubs-in-bristol)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image9.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Motion</h4>
                                    <p>One of the bigger student clubs in Bristol, Motion packs a punch with international DJs, a warehouse location and regular events. When you're done partying in the night, look out for the daytime events which include the likes of pizza and prosecco all dayers.</p>
                                    <p>(Source: https://www.designmynight.com/bristol/clubs/student-clubs-in-bristol)</p>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div id="citysites" class="tab-pane fade">
                        <div class="text-center">
                            <h2>City Sites</strong></h2>
                        </div>

                        <h3><u><strong>Landmarks</strong></u></h3>
                        <!-- well surrounds the text with a rounded border and gray background. The size can be changed with well-sm or well-lg -->
                        <div class="well well-sm">
                            <div class="media">
                            
                                <!-- You can use media-top, media-middle, or media-bottom -->
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image18.png" alt="..." width="300"></img>
                                    </a>
                                    <p>(Source: https://visitbristol.co.uk/things-to-do/clifton-suspension-bridge-p24661)</p>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Clifton Suspension Bridge</h4>
                                    <p>The Clifton Suspension Bridge, spanning the picturesque Avon Gorge, is the symbol of the city of Bristol. For almost 150 years this Grade I listed structure has attracted visitors from all over the world.</p>
                                    <p>(Source: https://www.cliftonbridge.org.uk)</p>
                                </div>
                            </div>
                        </div>
                             
                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image12.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Cabot Tower</h4>
                                    <p>Cabot Tower, set in the gorgeous parkland of Brandon Hill near Park Street in the West End, is a 105ft tower built in 1897 to commemorate John Cabot's famous voyage from Bristol and the continent of North America four hundred years earlier.</p>
                                    <p>(Source: https://visitbristol.co.uk/things-to-do/cabot-tower-and-brandon-hill-p24401)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image8.jpg" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Harbourside Area</h4>
                                    <p>Once a busy dock where sailors and merchants would trade goods and set sail for voyages of discovery, Bristol's Harbourside is now an attractive, modern development filled with restaurants, bars, shops and hotels.</p>
                                    <p>(Source: https://visitbristol.co.uk/your-visit/areas/harbourside#)</p>
                                </div>
                            </div>
                        </div>

                        <h3><u><strong>Museums</strong></u></h3>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image10.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Bristol Museum and Art Gallery</h4>
                                    <p>What is it? A family-friendly museum where you can see everything from ancient Egyptian mummies to modern art.</p>
                                    <p>Why go? Explore the museum’s permanent collections of natural history, art and geography, plus an enticing range of temporary shows. Highlights include the Bristol dinosaur (yes, it has one), a beautifully-preserved gypsy caravan and an ingenious flying machine. Situated right next to the iconic Wills Memorial Tower, the building’s pretty special too. Free entry.</p>
                                    <p>(Source: https://www.timeout.com/bristol/things-to-do/best-museums-in-bristol)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image16.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">SS Great Britain</h4>
                                    <p>What is it? Brunel’s iconic steamship now converted into a museum.</p>
                                    <p>Why go? Ahoy there! From Clifton Suspension Bridge to the city’s main railway station, Bristol Temple Meads, Bristol loves to celebrate the inventions of Isambard Kingdom Brunel. And here’s another one. The SS Great Britain was a maritime miracle of its day, and it remains impressive even in the age of Uber and iPhones. Grrrrr like a west country pirate and jump aboard.</p>
                                    <p>(Source: https://www.timeout.com/bristol/things-to-do/best-museums-in-bristol)</p>
                                </div>
                            </div>
                        </div>

                        <div class="well well-sm">
                            <div class="media">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object" src="/images/gen_resources/image4.png" alt="..." width="300"></img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Arnolfini</h4>
                                    <p>What is it? Harbourside modern art gallery heading into an exciting new era.</p>
                                    <p>Why go? Formerly a 19th-century warehouse in Bristol’s docks, the Arnolfini is the place to see cutting-edge performance and visual art. And if art isn’t your thing, the cafe bar and waterside seating area makes it the perfect place for a cold beer on a hot day. The bookshop's brilliant too.</p>
                                    <p>(Source: https://www.timeout.com/bristol/things-to-do/best-museums-in-bristol)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
