<!-- Navigation Bar Partial --> 
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav d-flex justify-content-between text-center" id="navbar">
            <li class="navigation d-inline-flex"><img src="/images/index/test.png" id="logo"/></li>
            <li class="navigation d-inline-flex"><a href="/index">Study Abroad Bristol</a></li>
            <li class="navigation d-inline-flex"><a href="/resources">Explore Bristol</a></li>
            <li class="navigation d-inline-flex"><a href="/market">Marketplace</a></li>
            <li class="navigation d-inline-flex"><a href="/questions">Q&amp;A</a></li>
            <% if(!user){ %>
                <li class="navigation d-inline-flex"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="navigation d-inline-flex"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% }else{ %>
                <li class="navigation d-inline-flex"><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li class="navigation d-inline-flex"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
             <% } %>
        </ul>
    </div>
</nav>
