<!-- Navigation Bar Partial --> 
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav text-center">
            <li class="navigation"><a href="/">Study Abroad Bristol</a></li>
            <li class="navigation"><a href="/resources">Explore Bristol</a></li>
            <li class="navigation"><a href="/market">Marketplace Exchange</a></li>
            <li class="navigation"><a href="/questions">Q&amp;A and FAQs</a></li>
            <li class="navigation"><a href="/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="navigation"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
